{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock title %}
{% block link %}{% static "css/cadastro.css" %}{% endblock link %}

{% block content %}

<link rel="stylesheet" href="{% static "css/style.css" %}">

<div class="container">
    <div class="form-container">
        <h1>Cadastro</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="nome">Nome:</label>
                {{form.first_name}}
            </div>

            <div class="form-group">
                <label for="nome">Sobrenome:</label>
                {{form.last_name}}
            </div>

            <div class="form-group">
                <label for="nome">Nome de Usuário:</label>
                {{form.username}}
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                {{form.email}}
            </div>

            <div class="form-group">
                <label for="endereco">Endereço:</label>
                {{form.endereco}}
            </div>

            <div class="form-group">
                <label for="telefone">Telefone:</label>
                {{form.telefone}}
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label>
                {{form.password1}}
            </div>

            <div class="form-group">
                <label for="confirmar-senha">Confirmar Senha:</label>
                {{form.password2}}
            </div>
             
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</div>
{% endblock content %}
